.dashboard {
  background-color: #e9ecef;
  min-height: 100vh;
  overflow-y: scroll;
}

.section-border {
  border-bottom: 1px solid #212529;
  opacity: 0.2;
  margin: 4rem 2rem 0;
}
.section-title {
  text-align: left;
  padding: 2rem;
}

.dashboard-row {
  margin-bottom: 1.5rem;
}

.dashboard-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

/* My Websites */

/* Support */

.support-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.support-cards {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-card {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.support-card:hover {
  border-radius: 5px;
  background-color: #f8f9fa;
  transform: scale(1.1);
}
.get-support-icon {
  width: 60px;
}
.my-websites-row {
  text-align: left;
  display: flex;
}

.my-websites-table {
  flex: 1;
  height: 300px;
  overflow-y: scroll;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.my-websites-stats {
  flex: 1;
  display: flex;
  height: 300px;
}

.stats-card {
  flex: 1;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* SideMenu */


.custom-toggle-button {
  background-color: inherit;
  color: #f8f9fa;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1rem;
}

.custom-toggle-button:hover {
  background-color: #f8f9fa0c;
  /* color: #212529; */
}

.custom-sidebar-links {
  color: #e9ecef;
  background-color: #2e343b;
  border-bottom: 1px solid #212529;
  padding: 1rem;
}

.custom-user-info {
  font-size: 1.2rem;
  color: #e9ecef;
  background-color: #2e343b;
}

/* user settings */

.user-settings-container {
  min-height: 400px;
  overflow: hidden;
}

.profile-pic {
  height: 300px;
}
