.dashboard-sidemenu {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 3.8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid black;
}
