.dashboard{
  display: flex;
}

.dashboard-sidemenu {
  height: 100vh;
  /* position: fixed;
  left: 0;
  top: 0; */
  padding-top: 3.8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #212529;
}

.custom-toggle-button {
  background-color: inherit;
  color: #f8f9fa;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1rem 4rem;
}

.custom-toggle-button:hover {
  background-color: #f8f9fa;
  color: #212529;
}

.custom-sidebar-links {
  color: #f8f9fa;
  background-color: #2e343b;
  border-bottom: 1px solid #212529;
}
