.dashboard {
  background-color: #e9ecef;
  min-height: 100vh;
  overflow-y: scroll;
}

.section-border{
  border-bottom: 1px solid #212529;
  opacity: 0.2;
  margin: 4rem 5rem 0;
}
.section-title {
  text-align: left;
  padding: 2rem;
}

.dashboard-row {
  margin-bottom: 1.5rem;
}
.dashboard-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  /* border-radius: 0; */
}

/* My Websites */

.my-websites-row {
  text-align: left;
  display: flex;
}

.my-websites-table {
  flex: 1;
  height: 300px;
  overflow-y: scroll;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* border-radius: 0; */

}

.my-websites-stats {
  flex: 1;
  display: flex;
  height: 300px;
}

.stats-card {
  flex: 1;
  /* border-radius: 0; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* SideMenu */
.custom-toggle-button {
  background-color: inherit;
  color: #f8f9fa;
  width: 100%;
  text-align: left;
  border: none;
  padding: 1rem;
}

.custom-toggle-button:hover {
  background-color: #ced4da;
  color: #212529;
}

.custom-sidebar-links {
  color: #e9ecef;
  background-color: #2e343b;
  border-bottom: 1px solid #212529;
  padding: 1rem;
}

.custom-user-info {
  font-size: 1.2rem;
  color: #e9ecef;
  background-color: #2e343b;
}

/* user settings */

.user-settings-container {
  min-height: 400px;
  overflow: hidden;
}

.profile-pic {
  height: 300px;
}

