#change-bg-container {
  min-height: 400px;
}

.website-bg-image {
  width: 100%;
  height: 400px;
  object-position: center;
  object-fit: cover;
}

.canvas-btn-container{
  background-color: #f8f9fa;
  opacity: 0.9;
  padding-bottom: 1rem;
  box-shadow: 0 0 5px;
}