.section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  resize: both;
}
.section-content {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.sub-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  border: 1px solid black;
}

.button-wrapper{
  align-self: flex-end;
  position: absolute;
  margin: 0.5em;
}

.delete-subsection{
  position: absolute;
  top: 0;
  margin: 0.8em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
}
