.section {
  position: relative;
  display: flex;
  flex-direction: column;
  resize: vertical;
  margin-bottom: 4em;
}

.section-content {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.sub-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow-y: hidden;
}

.empty-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-wrapper {
  align-self: flex-end;
  position: absolute;
  margin: 0.5em;
}

.component-buttons {
  position: absolute;
  top: 0;
  margin: 0.8em;
  border-radius: 20px;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
  z-index: 999;
}

.add-section-button {
  align-self: center;
  position: absolute;
  bottom: -18px;
  z-index: 999;
}
