.App {
  display: flex;
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
}

.side-menu {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}




.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.not-found-img {
  max-width: 80%;
}
