html {
  overflow: hidden;
}
body {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  background: #212529;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
